{% extends "base.html" %}


{% block app_content %}
<br>

<div class="hero">
    <h1>Our Corporate partners</h1>
    <div class="card">
        <!--Adding the photos-->
        <div class ="logo"><img src="sponsors/img/L1.png"></div>
        <div class ="logo"><img src="sponsors/img/L2.png"></div>
        <div class ="logo"><img src="spondors/img/L3.png"></div>
        <div class ="logo"><img src="sponsors/img/L4.jpg"></div>
    </div>
</div>

<!--Space div for moving footer down-->
<div style="padding-bottom: 25%;"></div>

{% endblock %}