{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
  <div class="container text-center">
    <h1>Courses</h1>      
    <p class="copyright">Additional Courses</p>
  </div>
</div>

    <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ url_for('main.course') }}">Courses</a></li>
            <li class="active"><a href="{{ url_for('main.addcourse') }}">Additional Courses</a></li>
            <li><a href="{{ url_for('main.basicscrum') }}">SCRUM Basics</a></li>
            <li><a href="{{ url_for('main.users') }}">Certified Users</a></li>
          </ul>
          </div>
          <div class="col-sm-8 text-left"> 
            <h1>Welcome</h1>
            <p>Currently there are no additional courses to apply for, please keep watching this space for further updates.</p>
            <hr>
          </div>
        </div>
      </div>
{% endblock %}