{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron text-center"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <h1>SCRUM Certified Users</h1>
    <p></p> 
  </div>
    
  <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
      <li><a href="{{ url_for('main.course') }}">Courses</a></li>
      <li><a href="{{ url_for('main.addcourse') }}">Additional Courses</a></li>
      <li><a href="{{ url_for('main.basicscrum') }}">SCRUM Basics</a></li>
      <li class="active"><a href="{{ url_for('main.users') }}">Certified Users</a></li>
    </ul>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>SCRUM Trainers</h1>
      <p>
        <ul class="profile">
            <li><a href="{{ url_for('main.Jane_Dane') }}">Jane Dane</a></li>
            <li><a href="{{ url_for('main.John_Doe') }}">John Doe</a></li>
        </ul>
      </p>
      <hr>
      <h3>SCRUM Masters</h3>
      <p>To be added...</p>
      <hr>
      <h3>SCRUM Practitioners</h3>
      <p>Heather Smith<br>
         Sagar Keshawala</p>
    </div>
  </div>
</div>


{% endblock %}