{% extends "base.html" %}


{% block app_content %}
<section class="body">
  <div class="bg"></div>
  <div class="terms-box">
    <div class="terms-text">
      <h2>Terms And Conditions</h2>
      <p>Last Edit:03/12/2022</p>
      <p>Greetings User</p>
      <p>In this Policy any reference to 'personal data' or 'personal information' is intended as any information that
        can identify or relate to you as individual person. We collect the following personal information from you as
        further described below:</p>

      <p>Contact information: such as name, business email address, phone number, your photo, billing information,
        physical address, skype information, call recordings, information you input in open text fields in help/contact
        us forms. By using our Services, you might choose to add a display name, profile photo, job title, and other
        details to your profile.</p>

      <p>Content information: such the information you may choose to post, send, receive and share in our Services.
        Examples of Content information include the content viewed in the Services, training interactions, the files and
        links you upload and the aggregate insights obtained from this information.</p>

      <p>Customer Support information: such a summary of the problem you are experiencing, and any other documentation
        or information that would be helpful in resolving an issue submitted to Us.</p>

      <p>We do not collect your payment information, such as your credit card or your Paypal account, but we ask our
        payment providers to manage this information on our behalf.</p>

      <p>Information We collect automatically from you.</p>

      <p>Analytics information: such as when you visit and interact with any of our Services. This information includes
        the features you use; the links you click on; the type, size and filenames of attachments you upload to the
        Services; frequently used search terms; and your interaction with third-party integrations and others on the
        Services. </p>

      <p>Device information: including your connection type and settings, information about your operating system,
        browser type, IP address, URLs of referring/exit pages, device identifiers, and crash activity, collected
        through cookies, web beacons and similar technologies.</p>

      <h4>I Agree To The <span>Terms And Conditions</span>And I Read The Privacy Notice</h4>
      <div class="buttons">
        <button class="btn red-btn">Accept</button>
        <button class="btn gray-btn">Decline</button>
      </div>

    </div>
  </div>
</section>
  {% endblock %}