{% extends "base.html" %}


{% block app_content %}
<br>
<h2>Current Job Listings</h2>
<!--Main Content-->
<div class="col-sm-9">
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2>SCRUM Trainer</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by <span class="glyphicon glyphicon-user"></span><a
            href="{{ url_for('main.Jane_Dane') }}">Jane Dane</a>, Jan 18, 2023.</h5>
    <h5><span class="label label-danger">Closing Soon!</span><span class="label label-success">Closes Jun 20,
            2023</span></h5><br>
    <p>Looking for a new trainers to join the Swift Courses team. <br>
        <bold>Must have:</bold><br>
        Familiarity with SCRUM and relevant subjects<br>
        Have good teamwork coordination<br>
        Good Time Management and Organising Skills<br>
        <br>
        <bold>Prefernces:</bold><br>
        2 years IT Experiance<br>
        5 years minimum SCRUM Experiance
    </p>
    <br>
    <br>
    <hr><!--Inserts a line spacing between elements-->
    <h2>Website Admin</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by <span class="glyphicon glyphicon-user"></span><a
            href="{{ url_for('main.Jane_Dane') }}">Jane Dane</a>, Nov 27, 2022.</h5>
    <h5><span class="label label-danger">Closing Soon!</span><span class="label label-success">Closes Nov 17,
            2022</span></h5><br>
    <p> Looking for technology enthusiast to join the team. <br>
        <bold>Must have:</bold><br>
        Familiarity with HTML, CSS, javascript & Python<br>
        Have good teamwork coordination<br>
        Good Time Management and Organising Skills<br>
        <br>
        <bold>Prefernces:</bold><br>
        2 years IT Experiance
    </p>
    <br>
    <br>
    <hr>
</div>


{% endblock %}