{% extends "base.html" %}


{% block app_content %}
<br>
<div class="jumbotron"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <div class="container text-center">
      <h1>Contact us!</h1>      
    </div>
  </div>
  <br>
<section class="py-5 border-bottom" id="conpost">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <div id="contactimage">
                    <h3 id="contitle">Email us</h3>
                </div>
                <br>
                <ul class="email">
                  <!--The link below allows a email message to be created in default mail app, filling in the recepient box-->
                  <li class="email"><a href="mailto:supportdesk@swiftcourses.com">supportdesk@swiftcourses.com</a></li> 
                </ul>
                <br>
                <h5> Disclaimer: Emails will not be responded to outside of office hours - See map for office opening hours</h5>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <div id="contactimage">
                    <h3 id="contitle">Phone us</h3>
                </div>
                <br>
                <p>
                    24/7 Helpline<br>
                   (+44) 08934 8934673
                 </p>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <div id="contactimage">
                    <h3 id="contitle">Find us</h3>
                </div>
                <br>
                <p>Find our office on the map</p>
                <a href="{{ url_for('main.Map') }}" class="btn btn-default btn-lg" role="button">Map</a><!-- Button links to connected file using the routing in the routes.py-->
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}