{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
  <div class="container text-center">
    <h1>Articles</h1>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row content">
<!--Left Side Nav Bar-->
    <div class="col-sm-3 sidenav">
      {% if current_user.is_authenticated %}
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ url_for('main.member_articles') }}">Member Articles</a></li>
          <hr>
      {% else %}

      {% endif %}
        </ul>
    </div>

<!--Main Content-->
    <div class="col-sm-8 text-left">
      <div id="mainimage">
        <h2 id="cortitle">What's Happening next @ Swift Courses</h2>
      </div>
      <p>Big news for everyone! Swift Course's website is getting an upgrade..</p>
      <br>
      <a href="{{ url_for('main.whatnext') }}" class="btn btn-default btn-lg" role="button">More Details</a>
      <hr>
    </div>
  </div>
</div>

<!-- The following portion of code is the main body, illustrating a list of 3 additinal articles a site editor could add.-->
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h3>Add Articles</h3>
      <ol>
        <li><a href="https://uk.indeed.com/career-advice/finding-a-job/high-paying-computer-science-jobs">Careers</a></li>
        <li><a href="https://www.itpro.co.uk/business-strategy/careers-training/354917/the-most-in-demand-tech-jobs"> Tech Jobs in Demand</a></li>
        <li><a href="https://www.wired.com/insights/2014/04/future-digital-will-change-world/">How IT will change the world</a></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}