{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <div class="container text-center">
      <h1>Courses</h1>      
      <p class="copyright">Certified SCRUM Courses</p>
    </div>
  </div>
  
      <div class="container-fluid text-center">    
          <div class="row content">
            <div class="col-sm-3 sidenav">
              <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ url_for('main.course') }}">Courses</a></li>
              <li><a href="{{ url_for('main.addcourse') }}">Additional Courses</a></li>
              <li><a href="{{ url_for('main.basicscrum') }}">SCRUM Basics</a></li>
              <li><a href="{{ url_for('main.users') }}">Certified Users</a></li>
            </ul>
            </div>
            <div class="col-sm-8 text-left"> 
              <h1>Different types of Development Cycles</h1>
              <h5><span class="glyphicon glyphicon-user"></span><a href="{{ url_for('main.Jane_Dane') }}">Trainer: Jane Dane</a></h5>
              <p>The product development cycle is the process of taking a product from an idea through its market release and beyond.
                This cycle involves many departments in a company: product managers, developers, designers, QA testers, and others.<br>
                 Development strategies fall under many names that include spiral, waterfall, agile, XP, rapid prototyping to name but a few. 
                The common goal of all these strategies or software development plans is to develop a product. This course will teach you more about that.</p>
                <br>
                <hr>
<!-- begin wwww.htmlcommentbox.com -->
                <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
                <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
                <script type="text/javascript" id="hcb"> 
                   if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%243e6nwUOAFfSkQPoLSl6BJ%2F"+"&opts=16798&num=10&ts=1669023512024");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); 
                </script>
<!-- end www.htmlcommentbox.com -->
              
            </div>
          </div>
        </div>
{% endblock %}