label{
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

input{
    padding-left: 10px;
    padding-bottom: 5px; 

}
button{
    padding-top: 10px;
}

.title, h2{
    background: rgb(211,211,211);
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(64,64,171,1) 38%, rgba(40,162,187,1) 90%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
}

form{
    background-color: white; 
    padding: 2px;
    
}
