/*Main CSS for Profile pages layout*/
.main-body {/* Adjusts the placement of element*/
    padding: 15px;
    padding-top: 100px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {/* Adjusts the placement of element* and assigns colour to it*/
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {/* Adjusts the placement of element*/
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {/* Adjusts the placement of element*/
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {/* Adjusts the placement of element*/
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {/* Adjusts the placement of element*/
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #ffffff;
}
.h-100 {/* Adjusts the placement of element*/
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/* Profile Nav Link */
ul.profile{
    list-style: none;
}

/* Star Rating*/
.checked {
    color: orange;
  }

/* Text*/
p.mb-1{/* Adjusts the placement of element*/
    text-align: center;
}

