/* CSS for sitemap design */

* {
  position: relative;
  margin: 0;
  padding: 0;

  border: 0 none;

  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
    transition: all ease .4s;
}


.sitenav {
  margin: 45px;
  width: 1080px;
  height: auto;
}

.sitenav ul {
  position: relative;
  padding-top: 20px;
}

.sitenav li {
  position: relative;
  padding: 10px 3px 0 3px;
  float: left;

  text-align: center;
  list-style-type: none;
}
li.spacetop {
  position: relative;
  padding: 0px 3px 0 3px;
  float: left;

  text-align: center;
  list-style-type: none;
}

li.spacetopstr {
  position: relative;
  padding: 0px 50px 0 3px;
  float: left;

  text-align: center;
  list-style-type: none;
}

.sitenav li::before, .sitenav li::after{
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 10px;
  border-top: 1px solid rgb(0, 0, 0);
}

.sitenav li::after{
  left: 50%;
  right: auto;

  border-left: 1px solid rgb(0, 0, 0);
}

.sitenav li:only-child::after, .sitenav li:only-child::before {
  content: '';
  display: none;
}

.sitenav li:first-child::before, .sitenav li:last-child::after{
  border: 0 none;
}

.sitenav li:last-child::before{
  border-right: 1px solid rgb(0, 0, 0);
  border-radius: 0 5px 0 0;
}

.sitenav li:first-child::after{
    border-radius: 5px 0 0 0;
}
.sitenav ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid rgb(0, 0, 0);
  width: 0;
  height: 20px;
}

.sitenav li a{
  display: inline-block;
  padding: 5px 10px;

  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);

  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.sitenav ul li a:hover {
  color: #000;
  background: #c8e4f8;
  border: 1px solid #000000;
}
