* {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}
html{
        scroll-behavior: smooth;
}

/* Images*/
img{
        float: left
}


/* Nav Bar*/
.navbar {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
}
    
.navitem {
        list-style:none;
        margin: 0 50px 0 50px;
        font-size: 22px;
        transition: 0.4s;
        text-align: center;
}
    
.navitem:hover {
        transform: scale(1.05);
}
.page-footer {
        background-color: #ffffff;
        color: #ffffff;
        padding-top: 20px;
            width: 100%;
            height: 100px;
        overflow: hidden;
        text-align: center;
        display: inline;
}

ul.email{
        list-style: none;
}

/* Text*/
p {
        text-align: left;

}

p.copyright{
        text-align: center;
        color: black;
}

h3.sitem{
        list-style-type: none;
        text-align: left;
}


h3.trainame{
        padding-left: 100px;
}

/* Jumbotron */
.jumbotron{
        margin: auto;
        width: auto;
        height: auto;
        padding-right:60px;
        padding-left:60px;
        position: relative;
}

/* Left nav Bar */
.sidenav {
        padding-top: 28px;
        margin-top: 18px;
        object-position: left;
    }

.scrum{
        padding-left: 28px;
        margin-left: 18px;
}

/* Right nav Bar*/
.sidnav {
        margin-top: 100px;
        background-color: #dcdcdc;
        height: 100%;
        width: auto;
        float: right;
      }

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 450px}

 /* Set gray background color and 100% height */
 .sidenav {
   padding-top: 20px;
   background-color: #f1f1f1;
   height: 100%;
 }

/* Footer */
footer {
        background: #ffffff;
}
a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
      }
      
a:hover, a:focus {
        text-decoration: none;
      }
      
 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height:auto;} 
 }
 
/* Banner Images*/
#bannerimage {
        width: auto;
        background-image: url(http://getwallpapers.com/wallpaper/full/7/2/2/14898.jpg);
        height: 50px;
        background-position: center;
      }
      #cortitle{
              color: #f1f1f1;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }


.sticky{
        position: -webkit-sticky; /* Safari */
        position: sticky;
         top: 0;
}

.announcecol{
        float: right;
}

