{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron text-center"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <h1>Contact us</h1>
    <p></p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Contact Info:</h3>
        <p>Email:
          <ul>
            <li><a href="mailto:supportdesk@swiftcourses.com">supportdesk@swiftcourses.com</a></li><!--Creates a hyperlink to another file-->
          </ul>
        </p>
        <br>
        <p>Phone: 08934 8934673</p>
        <br>
        <p>Address:<br>
          17 Humphrys Rd<br>
          Houghton Regis<br>
          Luton</p>
        
      </div>
      <div class="col-sm-4">
        <h3></h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3>Office Location</h3>        
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.3458205172064!2d-0.5086524825908275!3d51.8955734237466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48764ee19366e1a9%3A0xf69d8b6f16bed222!2sWoodside%20Estate%20office!5e0!3m2!1sen!2suk!4v1667509599074!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </div>
    </div>
  </div>


{% endblock %}