{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron text-center"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <h1>Contact us</h1>
    <p></p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Contact Info:</h3>
        <p>Email:</p>
          <ul class="email">
            <li><a href="mailto:supportdesk@swiftcourses.com">supportdesk@swiftcourses.com</a></li><!--Creates a hyperlink to another file-->
          </ul>
        <br>
        <p>Phone: 08934 8934673</p>
        <br>
        <p>Address:<br>
          Stockwood Gardens<br>
          Newlands Rd<br>
          Luton LU1 4AA</p>
        
      </div>
      <div class="col-sm-4">
        <h3></h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3>Office Location</h3>        
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9573.243132160434!2d-0.4270260601796047!3d51.87117999073809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487649043c494f1d%3A0xb391a877a3fcbc56!2sStockwood%20Gardens!5e0!3m2!1sen!2suk!4v1670265320387!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </div>
    </div>
  </div>


{% endblock %}