{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron text-center">
    <h1>Contact us</h1>
    <p></p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3></h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3></h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3>Office Location</h3>        
        <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2419.1360252602353!2d-0.1734467825561183!3d52.67558140000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877f84744dc32e3%3A0xe6486ded2f03cf0!2sTack%20Peter%20C!5e0!3m2!1sen!2suk!4v1620909875218!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
      </div>
    </div>
  </div>


{% endblock %}