{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
  <div class="container text-center">
    <h1>Events</h1>      
    <p class="copyright">Upcoming Events</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Free in-person Seminars</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#SCRUM_Basics">SCRUM Basics</button>

      <div id="SCRUM_Basics" class="collapse">
        <p>Want to learn more about SCRUM? This is for you! Come along and find out what SCRUM is and how it is used.<br>
        Location: DMU Hugh Aston 2.76 - 22/12/22 @ 1:30pm</p>
      </div> 
    </div>
    <div class="col-sm-3"> 
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Agile">Intro to Agile Development</button>

      <div id="Agile" class="collapse">
      <p>New to Agile? Learn more about the agile development process here!<br>
      Location: DMU Bede House 0.17 - 12/11/22 @ 3:45pm</p>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Intro">Intro to Swift Couses</button>

      <div id="Intro" class="collapse">
      <p>Find out more about what we can provide through our service for both members and potential course trainers!<br>
      Location: The Venue @ DMU - 21/03/23 @ 11:00am</p>
      </div> 
    </div>
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Tricks_Tips">SCRUM Tips & Tricks</button>

      <div id="Tricks_Tips" class="collapse">
      <p>Join this collabarative session where everyone shares and learn the best tips for SCRUM Projects.<br>
      Location: DMU Clephan Building 3.12 - 19/01/23 @ 10:00am</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Burn">Burnout Charts 101</button>

      <div id="Burn" class="collapse">
        <p>Unsure what Burnout Charts are used for in SCRUM? Come along to this session explaining the basics!<br>
        Location: DMU Queens 0.09 - 01/12/22 @ 1:30pm</p>
      </div> 
    </div>
    <div class="col-sm-3"> 
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Agile">Intro to Agile Development</button>

      <div id="Agile" class="collapse">
      <p>New to Agile? Learn more about the agile development process here!<br>
      Location: DMU Bede House 0.17 - 12/11/22 @ 3:45pm</p>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Intro">Intro to Swift Couses</button>

      <div id="Intro" class="collapse">
      <p>Find out more about what we can provide through our service for both members and potential course trainers!<br>
      Location: The Venue @ DMU - 21/03/23 @ 11:00am</p>
      </div> 
    </div>
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Tricks_Tips">SCRUM Tips & Tricks</button>

      <div id="Tricks_Tips" class="collapse">
      <p>Join this collabarative session where everyone shares and learn the best tips for SCRUM Projects.<br>
      Location: DMU Clephan Building 3.12 - 19/01/23 @ 10:00am</p>
      </div>
    </div>
  </div>
</div><br><br>



<!-- Conference Section-->
<div class="container-fluid bg-3 text-center">    
  <h3>SCRUM Conferences</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#SCRUM_Basics">SCRUM Basics</button>

      <div id="SCRUM_Basics" class="collapse">
        <p>Want to learn more about SCRUM? This is for you! Come along and find out what SCRUM is and how it is used.<br>
        Location: DMU Hugh Aston 2.76 - 22/12/22 @ 1:30pm</p>
      </div> 
  
    </div>
  </div>
</div><br><br>



{% endblock %}