{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>Events</h1>      
    <p>Current & Upcoming Events</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Free in-person Events</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#SCRUM_Basics">SCRUM Basics</button>

      <div id="SCRUM_Basics" class="collapse">
        <p>Want to learn more about SCRUM? This is for you!<br> Come along and find out what SCRUM is and how it is used.<br>
        Location: DMU Hugh Aston 2.76 - 22/12/22 @ 1:30pm</p>
      </div> 
    </div>
    <div class="col-sm-3"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Agile">Intro to Agile Development</button>

      <div id="Agile" class="collapse">
      <p>New to Agile? Learn more about the agile working process here!<br>
      Location: DMU Bede House 0.17 - 12/11/22 @ 3:45pm</p>
      </div>
    </div>
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> 
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Intro">Intro to Swift Couses</button>

      <div id="Intro" class="collapse">
      <p>Find out more about what we can provide through our service for both members and potential course trainers!<br>
      Location: The Venue @ DMU - 21/03/23 @ 11:00am</p>
      </div> 
    </div>
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#Tricks_Tips">SCRUM Tips & Tricks</button>

      <div id="Tricks_Tips" class="collapse">
      <p>Join this collabarative session where everyone shares and learns the best tips for SCRUM Projects.<br>
      Location: DMU Clephan Building 3.12 - 19/01/23 @ 10:00am</p>
      </div>
    </div>
  </div>
</div><br><br>



{% endblock %}