{% extends "base.html" %}


{% block app_content %}
        <title>Swift Cources FAQ's</title>



    <h1> Welcome to the Swift Cources FAQ's page</h1>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
{% endblock %}