{% extends "base.html" %}


{% block app_content %}
        <title>Swift Cources FAQ's</title>



    <h1> Welcome to the Swift Cources FAQ's page</h1>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
            Why online learning is better ?
            </h3>
            
        <div class="answer">
            <p>1. You don't need to relocate<br>
            2. Online learning makes it possible to keep your job<br>
            3. It's easier to concentrate and participate</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
            How online Learning Is Boosting Business Growth ?
            </h3>
            
        <div class="answer">
            <p>Online learning helps businesses improve productivity and
                profitability by finding valuable insights buried in your
                company databases.<br>
                Online learning reduces friction at every stage of a business, whether you're coming up with new
                product ideas or getting the goods delivered to the client. It increases business efficiency,
                improves customer relationships, and boosts sales.</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                The Rise Of Online Learning.
            </h3>
            
        <div class="answer">
            <p>Online learning has shown significant growth over the last decade, as the internet and education
                combine to provide people with the opportunity to gain new skills. Since the COVID-19 outbreak,
                online learning has become more centric in people's lives. The pandemic has forced schools,
                universities, and companies to remote working and this booms the usage of online learning. Even
                before the pandemic, Research and Markets forecasts the online education market as $350 Billion by
                2025, so the numbers might be updated after analyzing the growth impacts of COVID-19 on the online
                learning market. </p>
            <p>There are numerous online learning platforms in the market such as Udemy, Coursera, Lynda,
                Skillshare, Udacity that serve millions of people. The platforms are getting shaped by different
                user verticals as well. While Skillshare is mostly for creatives such as giving courses on
                animation, photography, lifestyle, Coursera is mostly academic with giving access to university
                courses. </p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                1) Write question here.
            </h3>
            
        <div class="answer">
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. 
                Quisquam assumenda sapiente 
                mollitia excepturi quos id 
                magnam obcaecati non est? 
                Maiores?</p>
        </div>
    </div>
{% endblock %}