{% extends "base.html" %}


{% block app_content %}
<title>Swift Cources FAQ's</title>



<h1> Welcome to the Swift Cources FAQ's page</h1>
<div class="question-answer">
    <div class="question">
        <h3 class="title-question">
            1) How long would it take to get a information about the upcoming classes for my enrolled course ?
        </h3>

        <div class="answer">
            <p>So, once you are enrolled in the course we required around 5-7 working days to process your
                application and send the new login details to join the classes. If you do not recieve any kind of
                update you can contact us from the contact us page.</p>
        </div>
    </div>
    <div class="question-answer">
        <div class="question">
            <h3 class="title-question">
                2) Do we give any sort of discount for the courses ?
            </h3>

            <div class="answer">
                <p>Yes, sometimes we do give christmas discount and other discount, and if not then always contact
                    our team before enrolling in a course if you think you can get a discount on anything such as
                    you are disable or anything like that. </p>
            </div>
        </div>
        <div class="question-answer">
            <div class="question">
                <h3 class="title-question">
                    3) What should i do if i need extra help with my course ?
                </h3>

                <div class="answer">
                    <p>If you need extra help with any assignment or any subject so can always ask your tutor for
                        the
                        help or you will have a personal tutor you can send them an email to help you with any
                        topics or assignments.</p>
                </div>
            </div>
            <div class="question-answer">
                <div class="question">
                    <h3 class="title-question">
                        4) How should i update my personal details ?
                    </h3>

                    <div class="answer">
                        <p>So first of all you have to login in your account and them if you click omn your profile
                            from there you can update your personal details. Please keep in mind that any changes
                            will take about 2-3 working days to be updated on your profile. </p>
                    </div>
                </div>
                <div class="question-answer">
                    <div class="question">
                        <h3 class="title-question">
                            4) Do all the classes have live doubt solving ?
                        </h3>

                        <div class="answer">
                            <p>Live doubt-solving feature is avaliable on our site.</p>
                        </div>
                    </div>
                    <div class="question-answer">
                        <div class="question">
                            <h3 class="title-question">
                                5) Are there any demo classes ?
                            </h3>

                            <div class="answer">
                                <p>Yes, they are free, more details about it will be avaliable when you will choose
                                    the course. </p>
                            </div>
                        </div>
                        <div class="question-answer">
                            <div class="question">
                                <h3 class="title-question">
                                    6) How long will it take to cancle the subsciption ?
                                </h3>

                                <div class="answer">
                                    <p>Subcription can be cancelled anytime, once you cancle the subcription you
                                        will not have a access to the course meterial of the specific course.</p>
                                </div>
                            </div>
                            <div class="question-answer">
                                <div class="question">
                                    <h3 class="title-question">
                                        7) Do you give any customer support so set up ot a demo video how to join a
                                        metting ?
                                    </h3>

                                    <div class="answer">
                                        <p>Yes, Once you are enrolled inn the course you will get a video link on
                                            your email, it will tell you how to join the classes and how answer
                                            question how to share your screen, voice and your camera. </p>
                                    </div>
                                </div>
                                {% endblock %}