{% extends "base.html" %}


{% block app_content %}

<div class="col-sm-2 sidnav">
    <h2>Special Announcements</h2>
    <form action="/add" method="POST">
        <label>Title</label>
        <input type="text" name="title" placeholder="Enter title...">
        <label>Content</label>
        <input type="text" name= "content" placeholder="Enter text...">
        <button type="submit">Add</button>
    </form>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">   
             <div id="content">

        </div></div>
      </div>

</div>


{% block scripts %}
    {{ super() }}
<script>
        $(document).ready(function contrequest(){//Once the page has loaded, the folowing function is executed
            $.getJSON('/getannounce', 'trash', get_data)//Obtains the data from the annoumcement route
        });
        function get_data(data){//When triggered by the above function, takes the retrieved data and inserts it on the page
            
            $("#content").html(data);//Sends and converts data to be displayed in the div associated by id in the HTML file
           // $("#content").append(JSON.stringify(data));
        }

        function add_data(data){
            $("#btn2").click(function(){
            $.getJSON(update_data)
         });
        }
        
        function update_data(data){
            $.getJSON(get_data)
            $("ol").append("<li>Appended item</li>");
        }
</script>
{% endblock %}
{% endblock %}