{% extends "base.html" %}


{% block app_content %}

<div class="col-sm-2 sidnav">
    <h2>Special Announcements</h2>
    <form action="/action_page.">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
      </form> 
      
    <br>
    <button id="btn2">Add Announcement</button>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">   
             <div id="content">

        </div></div>
      </div>

</div>


{% block scripts %}
    {{ super() }}
<script>
        $(document).ready(function contrequest(){//Once the page has loaded, the folowing function is executed
            $.getJSON('/announcements', 'trash', got_data)//Obtains the data from the annoumcement route
        });
        function got_data(data){//When triggered by the above function, takes the retrieved data and inserts it on the page
            $("#content").html(data);
            //$("#content").append(JSON.stringify(data));//Turns the data into a string and inserts it into the div using div ID
            
        }
    function add_data(data){
            $("#btn2").click(function(){
            $("ol").append("<li>Appended item</li>");
  });
        }
</script>
{% endblock %}
{% endblock %}