{% extends "base.html" %}


{% block app_content %}

<h2>Current Job Listings</h2>
<div class="col-sm-9">
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2>Website Admin</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Nov 27, 2022.</h5>
    <h5><span class="label label-danger">Closing Soon!</span><span class="label label-success">Closes Nov 17, 2022</span></h5><br>
    <p> Looking for technology enthusiast to join the team. <br>
        <bold>Must have:</bold><br>
        Familiarity with HTML, CSS, javascript & Python<br>
        Have good teamwork coordination<br>
        Good Time Management and Organising Skills<br>
        <br>
        <bold>Prefernces:</bold><br>
        2 years IT Experiance
        </p>
    <br><br>
    
    <hr>
    <h2>Head of Human Resources</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 15, 2022.</h5>
    <h5><span class="label label-success">Closes Jan 16, 2023</span></h5><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <hr>

    
  

</div>


{% endblock %}