{% extends "base.html" %}


{% block app_content %}
<h3>Introduction of scrum.</h3>
<p>Scrum is a framework within which people
     can address complex adaptive problems,
      while productively and creatively delivering products
       of the highest possible value. The framework is designed to be
        lightweight and simple to understand, while still remaining robust
         enough to support complex product development in the face of rapidly
          changing business environments. </p>
<h3>The basics of scrum</h3>
<p>Scrum is a framework within which people can address
     complex adaptive problems, while productively and creatively
      delivering products of the highest possible value. The framework is
       designed to be lightweight and simple to understand, while still
        remaining robust enough to support complex product development in the
         face of rapidly changing business environments</p>
{% endblock %}