{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
  <div class="container text-center">
    <h1>Basics of SCRUM</h1>      
  </div>
</div>

<div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ url_for('main.course') }}">Courses</a></li>
        <li><a href="{{ url_for('main.addcourse') }}">Additional Courses</a></li>
        <li class="active"><a href="{{ url_for('main.basicscrum') }}">SCRUM Basics</a></li>
        <li><a href="{{ url_for('main.users') }}" >Certified Users</a></li>
      </ul><br>
</div>


<div class="scrum">
              <h3>Introduction of scrum.</h3>
              <p>Scrum is a framework within which people
                  can address complex adaptive problems,
                  while productively and creatively delivering products
                  of the highest possible value. The framework is designed to be
                  lightweight and simple to understand, while still remaining robust
                  enough to support complex product development in the face of rapidly
                  changing business environments. </p>
          <br>
              <h3>The basics of scrum</h3>
              <p>Scrum is a framework within which people can address
                  complex adaptive problems, while productively and creatively
                  delivering products of the highest possible value. The framework is
                  designed to be lightweight and simple to understand, while still
                  remaining robust enough to support complex product development in the
                  face of rapidly changing business environments</p> 
              </div>
{% endblock %}