{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron text-center">
    <h1>Site Map</h1>
    <p></p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Home</h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3>Courses</h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3>Events</h3>        
        <p> </p>
      </div>

    </div>
    <div class="col-sm-4">
      <h3>Contact</h3>        
      <p> </p>
    </div>
    </div>
  </div>

{% endblock %}