{% extends "base.html" %}


{% block app_content %}
<link href="{{url_for('static', filename='css/sitemap.css')}}" rel="stylesheet"><!--LInks CSS for sitemap-->
<br>
<div class="jumbotron text-center"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <h1>Site Map</h1>
    <p></p>
  </div>
<!--If the user is logged in, a sitemap variation is shown-->
  {% if current_user.is_authenticated %}
<!--This sitemap uses variations of li and ol to create the different levels, connecting lines between the boxes using the linked CSS-->
  <nav class="sitenav" style="width: fit-content;">
    <ul>
      <li>
        <a href="{{ url_for('main.home') }}">Home</a>
        <ul>
          <li>
            <a>Footer</a>
            <ul>
              <li class="spacetop">
                <a href="{{ url_for('main.sitemap') }}">Site Map</a>
                <ul>
                  <li class="spacetop">
                    <a href="{{ url_for('main.improvements') }}">Feedback</a>
                    <ul>
                      <li class="spacetop">
                        <a href="{{ url_for('main.improvements') }}">Sponsors</a>
                        <ul>
                          <li class="spacetop">
                              <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
                              <ul>
                                <li class="spacetop">
                                  <a href="{{ url_for('main.cookie_policy') }}">Cookie Policy</a>
                                </li>
                              </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ url_for('main.Contact') }}">Contact Us</a>
            <ul>
              <li class="spacetop">
                <a href="{{ url_for('main.Map') }}">Map</a>
                <ul>
                  <li class="spacetop">
                    <a href="{{ url_for('main.basicscrum') }}">Scrum Basics</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a>Upcoming Courses</a>
            <ul>
              <li class="spacetop">
                <a href="{{ url_for('main.course') }}">Certified Courses</a>
                <ul>
                  <li class="spacetop">
                    <a href="{{ url_for('main.addcourse') }}">Non-Certified Courses</a>
                    <ul>
                      <li class="spacetop">
                        <a href="{{ url_for('main.users') }}">Certified SCRUM Users</a>
<!--If the user is logged in and is 'trainer' they will see a sitemap addition-->
                      {% if current_user == 'trainer' %}
                        <ul>
                          <li class="spacetop">
                            <a href="{{ url_for('main.users') }}">Trainer Info</a>
                          </li>
                        </ul>
                      {% else %}

                      {% endif %}
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{ url_for('main.events') }}">Events</a>
          </li>
          <li>
            <a href="{{ url_for('main.articles') }}">Articles</a>
          </li>
          <li>
            <a href="{{ url_for('main.faq') }}">FAQ</a>
          </li>
          <li>
            <a>User Menu</a>
              <ul>
                <li class="spacetop">
                  <a href="{{ url_for('main.profile') }}">Profile</a>
                  <ul>
                    <li class="spacetop">
                      <a href="{{ url_for('main.jobs') }}">Jobs</a>
                    </li>
                  </ul>
                </li>
              </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

<!--If user is not logged in, default sitemap is shown-->
  {% else %}
<!--This sitemap uses variations of li and ol to create the different levels, connecting lines between the boxes using the linked CSS-->
    <nav class="sitenav">
      <ul>
        <li>
          <a href="{{ url_for('main.home') }}">Home</a>
          <ul>
            <li>
              <a>Footer</a>
              <ul>
                <li class="spacetop">
                  <a href="{{ url_for('main.sitemap') }}">Map</a>
                  <ul>
                    <li class="spacetop">
                      <a href="{{ url_for('main.improvements') }}">Feedback</a>
                      <ul>
                        <li class="spacetop">
                          <a href="#">Corporate Sponsors</a>
                          <ul>
                            <li class="spacetopstr">
                              <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
                              <ul>
                                <li class="spacetopstr">
                                  <a href="{{ url_for('main.cookie_policy') }}">Cookie Policy</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ url_for('main.Contact') }}">Contact Us</a>
              <ul>
                <li class="spacetop">
                  <a href="{{ url_for('main.Map') }}">Map</a>
                  <ul>
                    <li class="spacetop">
                      <a href="{{ url_for('main.basicscrum') }}">Scrum Basics</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a> Upcoming Courses</a>
              <ul>
                <li class="spacetop">
                  <a href="{{ url_for('main.course') }}">Certified Courses</a>
                  <ul>
                    <li class="spacetop">
                      <a href="{{ url_for('main.addcourse') }}">Non-Certified Courses</a>
                      <ul>
                        <li class="spacetop">
                          <a href="{{ url_for('main.users') }}">Certified SCRUM Users</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ url_for('main.events') }}">Events</a>
            </li>
            <li>
              <a href="{{ url_for('main.articles') }}">Articles</a>
            </li>
            <li>
              <a href="{{ url_for('main.faq') }}">FAQ</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  {% endif %}


{% endblock %}