{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron text-center"><!-- Template layout from W3schools ref:https://www.w3schools.com/bootstrap/bootstrap_templates.asp-->
    <h1>Site Map</h1>
    <p></p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="sitem"><li><a href="{{ url_for('main.home') }}" >Home</a></li></h3>
        <p></p>
        
      </div>
      <div class="col-sm-4">
        <h3 class="sitem"><li><a href="{{ url_for('main.course') }}" >Courses</a></li></h3>
        <p class="sitem">
          <li><a href="{{ url_for('main.basicscrum') }}">SCRUM Basics</a></li>
          <li><a href="{{ url_for('main.users') }}" >Certified Users</a></li></p>
        
      </div>
      <div class="col-sm-4">
        <h3 class="sitem"><li><a href="{{ url_for('main.events') }}" >Events</a></li></h3>        
        <p> </p>
      </div>

    </div>
    </div>
  </div><br><br>

  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-4">
          <h3 class="sitem"><li><a href="{{ url_for('main.contact') }}" >Contact</a></li></h3>        
          <p> </p>
        </div>
      
        <div class="col-sm-4">
          <h3 class="sitem"><li><a href="{{ url_for('main.faq') }}" >FAQ</a></li></h3>
          <h3 class="sitem"><li><a href="{{ url_for('main.improvements') }}" >Feedback</a></li></h3>         
          <p> </p>
        </div>

        <div class="col-sm-4">
          <h3 class="sitem"><li><a href="{{ url_for('auth.login') }}" >Login</a></li></h3>        
          <h3 class="sitem"><li><a href="{{ url_for('auth.register') }}" >Register</a></li></h3>
          <h3 class="sitem"><li><a href="{{ url_for('auth.reset_password_request') }}" >Forgotton Password</a></li></h3>
        </div>
      
      </div>
    </div>
  </div><br><br>

{% endblock %}